{% extends "layout.html" %}

{% block content %}
        <H3>Address Managment Page </H3>

        <p>This tool enables easy additions to address whitelist for firewalls. </p>

        <table class="table table-sm">
            <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>IP Address</th>
                <th>Organization</th>
                <th>Created By</th>
                <th>Created On</th>
            </tr>
            </thead>
        {% for item in whitelisted_addresses %}
        
          <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.address }}</td>
            <td>{{ item.organization }}</td>
            <td>{{ item.creator_id }}</td>
            <td>{{ item.date_created.strftime('%Y-%m-%d  %H:%M') }} UTC </td>
        </tr>


        
        {% endfor %}
    </table>
    
{% endblock content %}