{% extends "layout.html" %}

{% block content %}
        <H3>Current Whitelist - BAM </H3>

        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>IP Address</th>
                <th>description</th>
            </tr>
            </thead>
        {% for item in whitelisted_addresses %}
        
          <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.address }}</td>
            <td>{{ item.organization }}</td>
        </tr>


        
        {% endfor %}
    </table>
    
{% endblock content %}